:root {
  --verde-1: #096a46;
  --verde-2: #078035;
  --verde-3: #07986e;
  --verde-4: #68be11;
  --verde-5: #5fc861;
  --blanco: #fff;
  --textos: #5d6363;
  --negritas1: #5d6363;
  --negritas2: #8990a2;
}

*{
	padding: 0;
	margin: 0;
	text-decoration: none!important;
	box-sizing: border-box;
}

/**/
/*MENU*/
/**/

nav{
	height: 80px;
	width: 100%;
	position: fixed;
	background: var(--blanco);
}

.enlace{
	position: absolute;
	padding: 20px 50px;
}

.logo{
	height: 40px;
}

nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

/*BOTONES DEL MENU*/

.btn:hover{
	border: 1px solid #07986e;
	transition: .5s;
	cursor: pointer;
}

.btnSesion{
	border-radius: 5px;
	border: 1px solid #07986e;
	padding: 10px 13px;
}

.btnSesion:hover{
	background: #07986e;
	color: #fff;
}

.checkbtn{
	font-size: 30px;
	color: #fff;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}

/*
		CONFIGURACION
*/


@media (max-width: 1920px){
	#services{
		display: none;
	}
	#a-service{
		display: none;
	}
	#servicesResponsive{
	display: block;
	}
	#container{
		padding-top: 80px;
		height: auto;
	}
}

@media (max-width: 952px){
	.enlace{
		padding-left: 20px;
	}
	nav ul li a{
		font-style: 16px;
	}
	.img-about{
		width: 50%;
	}
	#container{
		padding-top: 80px;
		height: auto;
	}
}

@media (max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #8990a2;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
		color: #fff;
	}
	li a:hover{
		background: none;
		color: #fff;
	}
	#check:checked ~ ul{
		left: 0;
	}
	.img-about{
		width: 100%;
	}
	section{
		padding-top: 80px;
		height: auto;
	}
}